.fa-star {
  visibility: hidden;
}
.fav-icon:active,
.fav-icon:focus,
.fav-icon:visited {
  outline: none;
}
.menu-link:hover .fa-star,
.fav-icon:hover .fa-star, .fa-star.fav {
  visibility: visible;
}

.grid-modal .fa-calendar-plus{
  margin-left: -20px;
}
#formModalBody::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
#formModalBody::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 6px;
}